@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Quicksand:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
/* ------navbar------------- */
.navbar {
  background-color: #fff;
}
.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #1e1e1e;
  line-height: 1.5rem;
}
.nav-link:hover {
  color: #19345e;
}
.logo-navbar {
  max-width: 10vw;
}

/* -----Section Hero-------- */
.hero {
  margin-top: 4rem;
}
.profile-hero img {
  max-height: 78vh;
  width: auto;
}
h1 {
  font-weight: 700;
  font-size: 3.85rem;
  line-height: 4.3rem;
  text-transform: capitalize;
  color: #19345e;
}
.content p {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  color: #1e1e1e;

  letter-spacing: 0.36px;
}
.btn {
  align-items: center;
  border-radius: 1px;
  border: none;
  background: #19345e;
  color: #fff;
  font-size: 1rem;
  width: 12vw;
  height: 8vh;
  padding: 5px;
}

.btn-lg:hover {
  background-color: #0b234a;
  color: #fff;
}
.CTA {
  margin-top: 2rem;
}
.CTA p {
  width: 20vw;
  margin-left: 1.5rem;
  font-size: 1rem;
  line-height: 1.25rem;
}
.support-img {
  column-gap: 1.5rem;
  margin-top: 4rem;
}
.logo {
  max-width: 7vw;
}
/* end section hero */

/* headline */
.headline {
  margin-top: 5rem;
}
.container-text {
  margin-bottom: 3rem;
}
.benefit h4 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #19345e;
}
.icon {
  width: 3rem;
  height: 3rem;
  background: #e7ebfc;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-benefit {
  width: 1.5rem;
  height: 1.5rem;
}
/* end headline */

/* benefit */
.column {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}
.icons {
  width: 2rem;
  height: 2rem;
}
.icon-duotone {
  width: 4rem;
  height: 4rem;
  background: #e7ebfc;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.content-column h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #19345e;
}
/* --------benefit/section2----- */
/* --------story/section3--------- */
.story {
  margin-top: 7rem;
}
.box-story {
  background: #e7ebfc;
  border-radius: 3px;
}
.photo {
  width: 20vw;
  height: 50vh;
}
.box {
  background: #e7ebfc;
  height: 40rem;
  width: 100%;
  border-radius: 3px;
}
.content-text {
  padding: 4rem;
}
.content-text h3 {
  font-size: 2.75rem;
  font-weight: 700;
  color: #19345e;
}
.content-text p {
  font-size: 2.75rem;
  font-weight: 400;
  color: #1e1e1e;
  line-height: 3rem;
}
/* timeline */
.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}

/* -------footer------------ */
footer {
  background: #19345e;
  color: #fff;
  padding: 1rem 0rem;
}
h5 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 30vw;
}
.btn {
  color: #fff;
  padding-left: 0;
}
.logo-footer {
  max-width: 10vw;
  margin-bottom: 1rem;
}
.menu-list {
  margin-top: 6rem;
}
ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
li {
  list-style: none;
  padding-left: 1rem;
}
.line {
  border-bottom: 1px solid #fff;
  mix-blend-mode: normal;
  opacity: 0.08;
}
/* --------end footer--------- */
