@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Quicksand:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #19345e;
  --second-color: #f47522;
  --third-color: #ffffff;
  --text-color: #1e1e1e;
  --background-second: #e7ebfc;
  --button-hover-color: #19345e;

  --font-size-h1: 3.85rem; /*62px*/
  --line-height-h1: 4.3rem;
  --font-size-h2: 3.25rem; /*52px*/
  --line-height-h2: 3.75rem;
  --font-size-h3: 2.75rem; /*42px*/
  --font-size-h4: 1.5rem; /*24px*/
  --font-size-h5: 1.125rem; /*20px*/
  --line-height-h5: 1.75rem;

  --font-size-p-content: 1.25rem;
  --line-height-p-content: 2rem;
  --font-size-p-biasa: 1rem;
  --line-height-p-biasa: 1.25rem;
}
body {
  font-family: "Inter", sans-serif;
}
/* ------navbar------------- */
.navbar {
  background-color: #fff;
}
.nav-link {
  font-size: var(--font-size-p-biasa);
  font-weight: 500;
  color: var(--text-color);
  line-height: var(--line-height-p-biasa);
}
.nav-link:hover {
  color: var(--main-color);
}
.logo-navbar {
  max-width: 10vw;
  height: auto;
}
/* end navbar */
h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: 700;
  color: var(--main-color);
}
h3 {
  font-size: var(--font-size-h3);
  font-weight: 700;
  color: var(--main-color);
}
h4 {
  font-size: var(--font-size-h4);
  font-weight: 700;
  color: var(--main-color);
}
h5 {
  font-weight: 500;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}
p {
  font-size: var(--font-size-p-biasa);
  line-height: var(--line-height-p-biasa);
  color: var(--text-color);
  font-weight: 400;
  width: 85%;
}
/* -----Section Hero-------- */
.hero {
  margin-top: 7rem;
}
.profile-hero {
  max-width: 360px;
  margin: auto;
  position: relative;
}
.content h1 {
  font-weight: 700;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  text-transform: capitalize;
  color: #19345e;
}
.content p {
  font-size: var(--font-size-p-content);
  line-height: var(--line-height-p-content);
  font-weight: 400;
  color: var(--text-color);
}
.btn {
  align-items: center;
  border-radius: 1px;
  border: none;
  background: #19345e;
  color: #fff;
  font-size: var(--font-size-p-biasa);
  width: 12vw;
  height: 8vh;
  padding: 5px;
}

.btn-lg:hover {
  background-color: #0b234a;
  color: #fff;
}
.CTA {
  margin-top: 2rem;
}
.CTA p {
  width: 20vw;

  font-size: var(--font-size-p-biasa);
  line-height: var(--line-height-p-biasa);
}
.support-img {
  column-gap: 1.5rem;
  margin-top: 4rem;
}
.logo {
  max-width: 7vw;
}
/* end section hero */

/* headline */
.headline {
  margin-top: 5rem;
}
.container-text {
  margin-bottom: 3rem;
}

.icon {
  width: 3vw;
  height: 7vh;
  background: var(--background-second);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-benefit {
  width: 2vw;
  height: 4.5vh;
}
/* end headline */

/* benefit */
.column {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}
.icons {
  width: 2rem;
  height: 2rem;
}
.icon-duotone {
  width: 4rem;
  height: 4rem;
  background: #e7ebfc;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* --------benefit/section2----- */
/* --------story/section3--------- */
.story {
  margin-top: 10rem;
}
.box-story {
  background: var(--background-second);
  border-radius: 3px;
}
.photo {
  width: 20vw;
  height: 54vh;
}
.box {
  background: #e7ebfc;
  height: 40rem;
  width: 100%;
  border-radius: 3px;
}
.content-text {
  padding: 4rem;
}

.content-text p {
  font-size: var(--font-size-h3);
  font-weight: 400;
  color: var(--text-color);
  line-height: 3.2rem;
  width: 95%;
}
.text-link a {
  text-decoration: none;
  color: #19345e;
}
/* timeline */
.timeline {
  margin-top: 7rem;
}
.timeline-steps {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 1rem;
}

/* ------------end timeline----- */
/* ---closing-------- */
.closing {
  margin-top: 10rem;
  background: #e7ebfc;
  padding: 8rem 0rem;
}
.text-closing {
  padding-top: 8rem;
}

.divider {
  width: 80vw;
  border: 1px solid #b4b4b4;
  background-color: #b4b4b4;
}
.paragraf-h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  margin-left: 4rem;
}
.logo-perusahaan {
  width: 10%;
  height: auto;
}
/* -------footer------------ */
footer {
  background: #19345e;
  color: #fff;
  padding: 1rem 0rem;
}

.text-footer {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 30vw;
  color: #fff;
}
.btn {
  color: #fff;
  padding-left: 0;
}
.logo-footer {
  max-width: 10vw;
  margin-bottom: 1rem;
}
.menu-list {
  margin-top: 6rem;
}
ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
li {
  list-style: none;
  padding-left: 1rem;
}
.line {
  border-bottom: 1px solid #fff;
  mix-blend-mode: normal;
  opacity: 0.08;
}
/* --------end footer--------- */
