@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700:800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
    --main-color: #19345E;
    --second-color: #F47522;
    --third-color: #FFFFFF;


    --main-font: 'Roboto', sans-serif;
    --second-font: 'Montserrat', sans-serif;
    --line-font: 'Poppins', sans-serif;
}

body {
    background-color: var(--body-color);
    font-family: var(--main-font);
    overflow-x: hidden
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* NAVBAR */

.navbar {
    box-shadow: 0px 3px 6px #C1C3C736;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 9;
}

.navbar-alta .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    color: var(--main-color);
    font-family: var(--second-font);
    font-weight: 700;
}

.nav-item:hover {
    color: var(--second-color);
}

.navbar-alta .navbar-nav {
    gap: 18px;
}

.btn-contact {
    font-family: var(--second-font);
    font-size: 15px;
    font-weight: 600;
    color: var(--second-color);
    background-color: var(--third-color);
    border: 1px solid var(--second-color);
    border-radius: 50px;
    padding: 8px 38px 8px 38px;
}

.btn-contact:hover {
    font-family: var(--second-font);
    font-size: 15px;
    font-weight: 600;
    color: var(--third-color);
    background-color: var(--second-color);
    border: 1px solid var(--third-color);
    border-radius: 50px;
    padding: 8px 38px 8px 38px;
}

.btn-contact-v2 {
    font-family: var(--second-font);
    font-size: 15px;
    font-weight: 600;
    color: var(--third-color);
    background-color: var(--second-color);
    border: 1px solid var(--third-color);
    border-radius: 50px;
    padding: 8px 38px 8px 38px;
}

.btn-contact-v2:hover {
    font-family: var(--second-font);
    font-size: 15px;
    font-weight: 600;
    color: var(--second-color);
    background-color: var(--third-color);
    border: 1px solid var(--second-color);
    border-radius: 50px;
    padding: 8px 38px 8px 38px;
}

